 /*Estructura*/
            * {
		    margin:0px;
		    padding:0px;
		    }
            
            body{
                color:#000;
            }
            
            header{
                height: 120px;
                background: #14296F;
            }
            
            header h1{
                font-size: 80px;
                text-align: center;
                line-height: 150px;
                color: #FFFFFF;
            }
            
            nav{
                background:#5C0808;
                height: 39px;
                clear: both;
            }
            
            footer{
                background: #14296F;
                clear:both;
            }
            
            footer h3{
                font-size: 10px;
                text-align: left;
                padding: 20px;
                font-style: italic;
                color: #fff;
            }

            /*menu*/
            ul, ol {
            list-style:none;
            }
            
            .nav > li {
                float:left;
            }

            .nav li a {
                background-color:#5C0808;
                color:#fff;
                text-decoration:none;
                padding:10px 12px;
                display:block;
            }

            .nav li a:hover {
                background-color:#F1FDE0;
            }

            .nav li ul {
                display:none;
                position:absolute;
                min-width:100px;
            }

            .nav li:hover > ul {
                display:block;
            }
    
